Flask
pymilvus==2.0.0
towhee==0.6.0
redis
notebook==6.4.12
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability